.hero-section {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    animation: float 6s ease-in-out infinite;

    @keyframes float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-15px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .hero-background {
        background: radial-gradient(circle at top left,
                rgba(61, 114, 146, 0.45),
                rgba(10, 30, 48, 0.9) 60%),
            linear-gradient(to bottom right,
                #0d2a3a,
                #071a24);
        width: 100%;
        height: 110vh;
        position: absolute;
        z-index: -1;

        @media (max-width: 900px) {
            height: 100vh;
        }
    }

    .hero-content {
        display: flex;
        height: 80%;
        width: 90%;
        margin: 20px auto;

        @media (max-width: 900px) {
            flex-direction: column-reverse;
            position: relative;
            height: auto;
            gap: 20px;
        }

        >img {
            top: 25vh;
            position: absolute;
            width: clamp(250px, 100%, 600px);
            height: auto;
            right: 50px;

            @media (max-width: 900px) {
                width: 100%;
                height: auto;
                position: relative;
                top: 0;
                left: 0;
            }
        }

        .write-ups {
            margin: 17% 10px;
            width: 55%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 30%;

            @media (max-width: 900px) {
                margin: 0;
                width: 100%;
                margin-top: 10px;
                gap: 15px;
            }

            >div:first-child {
                font-weight: 800;
                font-style: Bold;
                font-size: clamp(25px, 6vw, 45px);
                line-height: 110%;
                letter-spacing: 2%;
                color: #FFFCF1;

                @media (max-width: 900px) {
                    font-weight: 700;
                }
            }

            >p {
                font-weight: 600;
                font-size: clamp(14px, 3.5vw, 16px);
                line-height: 150%;
                color: #F4F5F7;

                @media (max-width: 900px) {
                    font-weight: 500px;
                }
            }

            >div:last-child {
                display: flex;
                gap: 30px;

                @media (max-width: 900px) {
                    flex-direction: column;
                    width: 100%;
                }

                >button {
                    height: 50px;
                    padding: 0 30px;
                    border-radius: 20px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 100%;
                    color: #F4F5F7;

                    @media (max-width: 900px) {
                        width: 100%;
                    }

                    &:first-child {
                        background: #3AAFA9;
                        border: none;
                    }

                    &:last-child {
                        background: transparent;
                        border: 1px solid #3AAFA9;
                    }

                    &:hover {
                        background: #3d7292b2, ;
                        border: 1px solid #3AAFA9;
                    }
                }
            }
        }
    }
}