section.products {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;

    animation: float 6s ease-in-out infinite;

    @keyframes float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-15px);
        }

        100% {
            transform: translateY(0px);
        }
    }
}