.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 68%;
    padding: 20px 5%;

    > h2 {
        font-weight: 700;
        font-style: Bold;
        font-size: 35px;
        line-height: 100%;
        letter-spacing: 2%;
        color: #1A2631;
    }

    > div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 2%;
        color: #1A2631;
    }

    > button {
        width: 300px;
        height: 50px;
        padding: 10px;
        background: #3AAFA9;
        border: none;
        border-radius: 40px;
        color: #FFFFFF;

        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;

        &:hover {
            background: linear-gradient(113.35deg, #2c3e5000 -25.4%, #A7FFFB 91.66%);
            color: #1A2631;
        }
    }
}

@media (max-width: 992px) {
    .about {
        width: 85%;

        > h2 {
            font-size: 30px;
        }

        > div {
            font-size: 13px;
        }

        > button {
            width: 250px;
            height: 48px;
            font-size: 15px;
        }
    }
}

@media (max-width: 768px) {
    .about {
        width: 90%;
        padding: 15px 5%;

        > h2 {
            font-size: 26px;
        }

        > div {
            font-size: 13px;
            line-height: 140%;
        }

        > button {
            width: 220px;
            height: 45px;
        }
    }
}

@media (max-width: 480px) {
    .about {
        width: 100%;
        padding: 10px 4%;

        > h2 {
            font-size: 22px;
        }

        > div {
            font-size: 12px;
            line-height: 150%;
        }

        > button {
            width: 100%;
            height: 45px;
            font-size: 15px;
        }
    }
}
